# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
env/
venv/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Secrets
.env

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
